body {
  background-color: #333;
  padding: 0 1rem;
  color: #eee;
  font-family: sans-serif;
}
h1 {
  color: gold;
}
a {
  color: gold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav {
  background-color: #222;
  display: flex;
  gap: 1rem;
  padding: 0.7rem;
  border-radius: 0.4rem;
}

nav a {
  color: #ccc;
  text-decoration: none;
}
nav a.active {
  color: rgb(228, 228, 109);
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.books img {
  width: 8rem;
  height: 11rem;
  box-shadow: 2px 2px 5px #666;
  filter: brightness(0.65);
}
.books img:hover {
  transform: scale(1.1);
  filter: brightness(1);
}
.singleBook {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}
.singleBook img {
  width: 8rem;
  height: 11rem;
}
.info .title {
  font-size: 1.8rem;
  color: rgb(228, 222, 203);
  margin-bottom: 0.5rem;
}

.info .description {
  font-size: 1.4rem;
  color: #888;
  font-style: italic;
  word-wrap: break-word;
}
